body{
    background-color:rgb(227, 185, 131) ;
}
.main{
    text-align: center;
 box-shadow: 6px 6px 6px 6px rgb(34, 30, 26);
 width: 20em;
 height: 20em ;
 margin: auto;
 padding: 4em;
 margin-top: 5em;
 border-radius: 5em;
 background-color: antiquewhite;
}
h1{
    margin-bottom: 1em;
    font-size: 3em;

    
}
h2{
    display: inline-block;
    margin-top: 0;
}
.h2{
    margin-bottom: 1em;
    margin-left: 2em;
}
button{
    background-color: rgb(226, 161, 81);
    border: none;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
}